---
import { Icon } from 'astro-icon';

const {
	label = 'Toggle between Dark and Light mode',
	class: className = 'bg-[#805ad5] dark:bg-[#fbd38d] rounded-lg text-sm p-2.5 inline-flex items-center',
	iconClass = 'w-6 h-6',
	darkIconClass = 'fill-current hidden dark:block text-dark-bg',
	lightIconClass = 'fill-current dark:hidden block  text-white',
	darkIconName = 'tabler:sun',
	lightIconName = 'ph:moon-fill',
} = Astro.props;
---

<button type="button" class={className} aria-label={label} data-aw-toggle-color-scheme>
	<Icon name={darkIconName} class={iconClass + darkIconClass} />
	<Icon name={lightIconName} class={iconClass + lightIconClass} />
</button>
