---
const items = [
	{
		title: 'MINTIC: University Sergio Arboleda',
		content: 'Participated and completed a government program for accreditation and training in Software Development.',
		timeline: '2021',
	},
	{
		title: 'EXDU SAS',
		content:
			'Work as a Software Developer in a project to improve the quality of education through technology for the most isolated populations of Colombia.',
		timeline: '2021',
	},
	{
		title: 'Study Computer and Systems Engineering',
		content: 'I start studying at the National University of Colombia (UNAL) at the Bogota DC campus.',
		timeline: 'In Process',
	},
];
---

<h3 class="dark:text-white text-xl font-bold mb-1 border-gray-500 border-solid border-b-4 block w-fit">Biography</h3>
<p class="text-justify dark:text-white text-base pt-2 indent-3 mb-3">
	Some of my most important studies and work in recent years.
</p>
<ul class="mb-8 list-disc list-inside pt-2">
	{
		items.map(({ title, content, timeline }) => (
			<div class="mb-4">
				<li class="font-semibold dark:text-white mb-2">
					<span class="text-orange-500"> (</span>&nbsp;{timeline}&nbsp; <span class="text-orange-500"> ) </span>{' '}
					&nbsp;&nbsp;{title}
				</li>
				<p class="text-justify ml-6">{content}</p>
			</div>
		))
	}
</ul>
