---
import { Image } from '@astrojs/image/components';
import Profile from '~/assets/images/profile.jpg';
---

<div class="rounded-xl mb-8 sm:flex bg-[#1d1f21] justify-between py-4 px-6">
	<div class="my-auto">
		<h2 class="font-bold text-xl pb-1 text-center sm:text-left">Software Developer</h2>
		<p class="font-normal text-base text-center sm:text-left">Full Stack | Computer and Systems Engineer</p>
	</div>
	<Image
		class="rounded-full sm:ml-5 mt-4 sm:mt-0 mx-auto"
		alt="Image of owner of this website"
		width={85}
		height={85}
		src={Profile}
		alt="Image of the owner of the website"
	/>
</div>
