<div class="name animate-move-bg bg-clip-text pb-6 mt-16">
	<h1 class="font-extrabold text-transparent sm:text-7xl md:text-8xl lg:text-9xl text-6xl min-h-fit text-center">
		Sergio Rey
	</h1>
</div>
<h2 class="text-center dark:text-white font-bold sm:text-6xl md:text-7xl lg:text-8xl text-5xl">WebSite</h2>
