<div class="name animate-move-bg bg-clip-text pb-6 mt-16">
	<h1
		class="font-extrabold text-transparent text-6xl min-[480px]:text-7xl md:text-8xl lg:text-9xl min-h-fit text-center"
	>
		Sergio Rey
	</h1>
</div>
<h2 class="text-center dark:text-white font-bold text-5xl min-[480px]:text-6xl md:text-7xl lg:text-8xl">WebSite</h2>
