---
import { getProjectsPermalink } from '~/utils/permalinks';
import { findLatestProjects } from '~/utils/projects';
import CardProject from './CardProject.astro';

let projects = await findLatestProjects({ count: 2 });
---

<h3 class="dark:text-white text-xl font-bold mb-1 border-gray-500 border-solid border-b-4 block w-fit">Projects</h3>
<p class="text-justify dark:text-white text-base pt-2 indent-3">
	Developing different projects to learn and improve in order to have a great impact.
</p>
<div class="sm:flex justify-around my-6">
	{projects.map((project: any) => <CardProject project={project} />)}
</div>
<a
	class="py-2 px-5 mb-8 text-base bg-orange-400 font-semibold hover:bg-orange-500 transition duration-150 mx-auto text-dark-bg mt-6 block h-fit w-fit rounded-md"
	href={getProjectsPermalink()}>My Projects</a
>
