---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import Name from '~/components/widgets/Name.astro';
import Description from '~/components/widgets/Description.astro';
import CardProfile from '~/components/widgets/CardProfile.astro';
import Bio from '~/components/widgets/Bio.astro';
import Work from '~/components/widgets/Work.astro';
import Projects from '~/components/widgets/Projects.astro';

const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
	<Name />
	<div class="px-8 mx-auto max-w-[520px]">
		<Description />
		<CardProfile />
		<Work />
		<Bio />
		<Projects />
	</div>
</Layout>
