---
import { Image } from '@astrojs/image/components';

import { getPermalink } from '~/utils/permalinks';
import { findImage } from '~/utils/images';

const { post } = Astro.props;

const image = await findImage(post.image);
---

<article class={`max-w-lg mx-auto md:max-w-none grid gap-4 md:gap-8 ${image ? 'md:grid-cols-3' : ''}`}>
	{
		image && (
			<a class="w-fit" href={getPermalink(post.slug, 'post')}>
				<div class="w-fit">
					<Image src={image} class="object-cover" width={240} height={160} alt={post.title} />
				</div>
			</a>
		)
	}
	<div class="col-span-2">
		<header>
			<h2 class="font-bold text-left text-2xl mb-2 hover:text-orange-500 transition duration-150">
				<a class="" href={getPermalink(post.slug, 'post')}> {post.title}</a>
			</h2>
		</header>
		<p class="text-base text-justify">
			{post.excerpt || post.description}
		</p>
	</div>
</article>
