@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.name {
		background: linear-gradient(-45deg, #3b82f6, #d946ef, #ef4444, #eab308, #22c55e);
		background-size: 500%;
	}
}

.dropdown:hover .dropdown-menu {
	display: block;
}

[astro-icon].icon-light > * {
	stroke-width: 1.2;
}

[data-aw-toggle-menu] path {
	@apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
	@apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
	@apply rotate-45 translate-y-[-8px] translate-x-[14px];
}
