---
import Layout from '~/layouts/PageLayout.astro';

const { meta } = Astro.props;
---

<Layout {meta}>
	<section class="px-8 mb-8 mx-auto max-w-3xl">
		<header>
			<div class="my-16 md:my-24 pb-2 name animate-move-bg bg-clip-text">
				<h1 class="text-center text-transparent text-5xl md:text-7xl font-bold">
					<slot name="title" />
				</h1>
			</div>
		</header>
		<slot />
	</section>
</Layout>
